@{
    ViewData[ "Title" ] = "Home Page";
}

<div class="jumbotron">
    <h1>@Model.HeadlineProduct.ItemDescription.Title</h1>
    <p>@Model.HeadlineProduct.ItemDescription.Description</p>
    @await Component.InvokeAsync("Sales.ViewComponents.HomeItemPrice", @Model.HeadlineProduct)
</div>

<div class="row">
    @{
        var howMany = 12 / Model.ShowcaseProducts.Count;
        foreach(var item in Model.ShowcaseProducts)
        {
            <div class="col-md-@howMany">
                <div class="jumbotron">
                    <h3>@item.ItemDescription.Title</h3>
                    <p>@item.ItemDescription.Description</p>
                    @await Component.InvokeAsync("Sales.ViewComponents.HomeItemPrice", item)
                </div>
            </div>
        }
    }
</div>